[submodule "BeTalent/be-talent-challenge"]
	path = BeTalent/be-talent-challenge
	url = https://github.com/DianaMartine/be-talent-challenge.git
[submodule "Deloitte/deloitte-challenge"]
	path = Deloitte/deloitte-challenge
	url = https://github.com/DianaMartine/deloitte-challenge.git
[submodule "Ebanx/ebanx-challenge"]
	path = Ebanx/ebanx-challenge
	url = https://github.com/DianaMartine/ebanx-challenge.git
